:root{
    --dark-bg-color: #282828;
    --dark-font-color: #dbdbdb;
    --light-bg-blue:#2b81f9;
    --light-bg-blue-2: #0056ce;
    --hover-color: #ffffff;
    --dark-component-bg: #363636;
    --component-shadow: #202020;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a0a0a0;
    opacity: 1; /* Firefox */
}
body{
    background-color: var(--dark-bg-color);
    color:var(--dark-font-color);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image:  radial-gradient(var(--dark-component-bg) 2px, transparent 2px), radial-gradient( var(--dark-component-bg) 2px, var(--dark-bg-color) 2px);
    background-size: 120px 120px;
    background-position: 0 0,40px 40px;
}

/* quick css */
.ml-5{
    margin-left: 15px; 
}
.mr-5{
    margin-right: 15px;
}
.mb-5{
    margin-bottom: 15px;
}
.mt-5{
    margin-top: 15px;
}
.m0{
    margin:0 !important
}
.max-width{
    width: 100% !important;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

/* assets */
.btn{
    width: 2rem;
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 9px 6px;
    background-color: var(--dark-bg-color);
    color: var(--dark-font-color);
    border: solid #393939 1px;
    border-radius: 5px;
    transition: 0.4s;
    margin: 0 5px
}
.dark-btn{
    width: 100px;
    font-size: 1.2rem;
    padding: 9px 6px;
    background-color: var(--dark-bg-color);
    color: var(--dark-font-color);
    border: solid #393939 1px;
    border-radius: 5px;
    transition: 0.4s;
}
.dark-btn:hover{
    background-color: var(--light-bg-blue-2);
    color: #ffffff ;
    border: solid #ffffff 1px;
    cursor: pointer; 
}
  
.dark-input{
    font-size: 1.3rem;
    background-color: var(--dark-bg-color);
    color: var(--dark-font-color);
    border: none;
    padding-left: 10px;
    border-radius: 5px;
}
.dark-input:hover{
    outline: none;
}
.dark-input:not(:hover){
    outline: none;
}

.blue-btn{
    font-size: 1.2rem;
    background-color: var(--light-bg-blue);
    color: #e6e6e6;
    border: solid 0px;
    border: solid 1px var(--light-bg-blue);  
    border-radius: 5px;
    height: 26px;
    width: 26px;
    transition: 0.3s;
}
.blue-btn:hover{
    background-color: var(--light-bg-blue-2);
    color: #ffffff;
    border: solid 1px #ffffff;
}
.green-hover:hover{
    background-color: #0bb957;
    color: #ffffff;
    border: solid 1px #ffffff;
}
.purple-hover:hover{
    background-color: #8e00c1;
    color: #ffffff;
    border: solid 1px #ffffff;
    
}
.red-hover:hover{
    background-color: #bd080b;
    color: #ffffff;
    border: solid 1px #ffffff;
}

/* bg patterns */
.two-circle-bg{
    background: radial-gradient(circle at 60% 40%, #2e2e2e 25%, transparent 26%),radial-gradient(circle at 40% 60%, #303030 25%, transparent 26%) !important ;
    background-size: 7em 12em !important;
    background-color: var(--dark-component-bg) !important;
    opacity: 1 !important;
}
.diagonal-lines{
    background: repeating-linear-gradient( -25deg, #313131, #313131 20px, var(--dark-component-bg) 20px, var(--dark-component-bg) 100px );
}
.triangle-dots{
    background-size: 80px 80px;
    background-image:  repeating-linear-gradient(-30deg, #313131, #313131 5px, var(--dark-component-bg) 4px, var(--dark-component-bg));
}



/*  */
.time-sent{
    font-size: 0.8rem;
    opacity: 0.3;
}