.dasboard-grid{
  display: grid;
  grid-template-columns: 400px 660px 400px;
  column-gap: 30px;
  justify-content: center;
  padding-top: 50px;
}
.widget{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  
  
}
.sub-widget{
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
  cursor:default;
}



.add-friends-wdgt{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: space-between;
}
.add-friends-wdgt .blue-btn{
  width: 100%;
}
.create-room-widget .dark-btn{
  margin: 0 5px;
  width: 44px;
  height: 44px;
}
.friends-widget .blue-btn{
  margin: 0;
  height: 33px;
}
.room-title{transition: 0.3s;}.room-title:hover{
  color : var(--light-bg-blue);
  cursor: pointer;
}






/* //////////////////// Media ////////////////////// */
@media only screen and (max-width: 1560px) {
  .dasboard-grid{
    grid-template-columns: 400px 230px 400px;
    grid-template-areas: 
      "main main side"
      "main main side2"
      "main main side2";
    row-gap: 30px;
  }
  .left-widget{grid-area: side;}
  .room-widget{grid-area: main;}
  .right-widget{grid-area: side2;}
}
@media only screen and (max-width: 1130px) {
  .dasboard-grid{
    grid-template-columns: 360px 10px 360px;
    
  }
  .left-widget{grid-area: side;}
  .room-widget{grid-area: main;}
  .right-widget{grid-area: side2;}
}
@media only screen and (max-width: 825px) {
  .friend-requests-widget{
    display: none;
  }
  .right-widget{
    display: none;
  }
  .dasboard-grid{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
  }
  .dasboard-grid .dark-input{
    width: 88%;
  }
  
}
@media only screen and (max-width: 630px) {
  
  .dasboard-grid{
    width: 297px;
    
  }
  .create-room-widget{
    display: flex;
    flex-direction: column;
  }
  .create-room-widget .dark-btn{
    margin: 10px 0;
    width: 100%;
  }
  .dasboard-grid .dark-input{
    width: 247px;
  }
  
}