.navbar{
    background-color: var(--dark-component-bg);
    color:var(--dark-font-color);
    margin-bottom: 100px;
    padding: 20px 10px;
    box-shadow: 2px 4px 15px var(--component-shadow);
  }
  .navbar-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    justify-content: space-between;
  }
  .navbar h1{
    color:#e7f1ff;
    font-size: 3rem;
    font-weight: 200;
    margin: 0 30px;
    display: inline;
  }
  .nav-link{
    margin: 4px 15px 0 15px;
    font-size: 1.2rem;
    color:var(--dark-font-color);
    text-decoration: none;
    transition: 0.4s;
  }
  .nav-link:hover{
    color:#6ca9fe;
    font-size: 1.5rem;
  }
  