.profile-card{
    background-color: var(--dark-component-bg);
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 15px var(--component-shadow);
    display: flex;
    flex-direction: column;
    column-gap: 10%;
}
.profile-flex-item{
    display: flex;
    flex-direction: column;
}
.username-form {
    display: flex;
    flex-direction: row;
}
.username-form input{
    height: 51px
}
.username-form button{
    height: 54px;
}