.profile-card{
    background-color: var(--dark-component-bg);
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 15px var(--component-shadow);
    display: flex;
    flex-direction: column;
    column-gap: 10%;
}
.profile-flex-item{
    display: flex;
    flex-direction: column;
}

.profile-flex-item input{
    width: 690px;
}
.username-form .dark-btn{
    margin: 15px 0;
    height: 44px;
}
@media only screen and (max-width: 770px) {
  
    .profile-card{
        
        width: 250px;
        
    }
    .profile-flex-item input{
        width: 240px;
    }
    
  }