.sign-in,.log-in{
    border-radius: 10px;
    width: 370px;
    display: flex;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto; 
    box-shadow: 2px 4px 15px var(--component-shadow);
}
.sign-in .dark-input{
    height:2.2rem;
    margin-top:10px;
    margin-bottom: 25px;
    width: 360px;
}
.sign-in .dark-btn{
    height:3.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sign-in .green-hover:hover{
    background-color: #0bb957;
    color: #ffffff;
}
.sign-in .purple-hover:hover{
    background-color: #8e00c1;
    color: #ffffff;
    
}


.log-in .dark-input{
    height:2.2rem;
    margin-top:10px;
    margin-bottom: 25px;
    width: 360px;
}
.log-in .dark-btn{
    height:3.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.log-in .green-hover:hover{
    background-color: #0bb957;
    color: #ffffff;
}
.log-in .purple-hover:hover{
    background-color: #8e00c1;
    color: #ffffff;
    
}

@media only screen and (max-width: 475px) {
    .sign-in,.log-in{   
        width: 250px;
        padding: 20px;
    }
    .sign-in .dark-input{
        width: 240px;
    }
    .log-in .dark-input{
        width: 240px;
    }
    .sign-in .dark-input{
        font-size: 1rem;
    }
    .log-in .dark-input{
        font-size: 1rem;
    }
  }