.single-room-grid{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 100px 50px;
    justify-content: center;
    column-gap: 20px;
  
  }
  .sidebar{
    background-color: var(--dark-component-bg);
    border-radius: 5px;
    box-shadow: 2px 4px 15px var(--component-shadow);
    padding-left: 20px;
    padding-right: 20px;
  }
  .message-box{
    background-color: var(--dark-component-bg);
    border-radius: 5px;
    box-shadow: 2px 4px 15px var(--component-shadow);
    padding-left: 20px;
    padding-right: 20px;
  }
  .message-form{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 89% 10%;
    grid-template-rows: 40px;
    column-gap: 1%;
  }
  .message p {
    font-size: 1.2rem;
  }
  .add-user-box{
    display: grid;
    grid-template-columns: 83% 15%;
    column-gap: 2%;
  }
  .add-user-box .dark-btn{
    width:100%;
    padding: 8px 6px;
  }